# common ignore
*~
MANIFEST.MF
target/
tmp/
install/
scripts/

*.class

# Package Files #
*.jar
*.war

# eclipse specific
.settings
.project
.classpath
.metadata

# idea specific
.idea/*
!.idea/codeStyleSettings.xml
*.iml
*.ipr
*.iws

# gradle specific
.gradle/
build
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat

# Locally stored "Eclipse launch configurations"
*.launch

# unix specific
.DS_Store
.directory

# static plugins
.pmd

# log files
*.log

# gwt-specific
src/main/gwt-unitCache